.grid-container {
	display: grid; 
	grid-template-rows: auto ;
	column-gap: 50px;
	row-gap: 10px;
}


#title{
	font-size: 1.625rem;
	line-height: 4,6875rem;
	background-color: transparent;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-object{
	display:grid;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 18.75rem;
	height: 4.688rem;
	font-size: 1rem;
	background-color: rgb(20, 158, 158);
	font-family:'Courier New';
}

p{
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.menu-object:active{
	font-size: 1.125rem;
	width: 17.188rem;
	height: 4.375rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.375rem;
	width: 20.313rem;
	height: 5.313rem;
	font-weight: bold;
}

