input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	width: 26.25rem;
	font-size: 2rem;
	line-height: 4.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#subtitle{
	width: 26.25rem;
	font-size: 1.625rem;
	line-height: 4.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
	background-color: rgb(222, 231, 238);
}

label, p{
	font-family: 'Courier New', Courier, monospace;
}

#indicador {
	font-size: 1.125rem;
	font-weight: bold;
}

#Jocs{
	display: none;
	grid-template-columns: auto auto;
	justify-content: space-between;

}

.table_header{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	align-items: center;
	width: 25rem;
}

td {
	margin-top: 0.5rem;
	background-color: white;
	padding: 0.5px;
	text-align: center;
	border-bottom: 0.125rem solid #68a8db;
}

table{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}


.doble_fila{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.una_fila{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	align-items: center;
}

.save-object{
	display:block;
	margin-left: auto;
	margin-right:n auto;
	width: 21.875rem;
	height: 4.688rem;
	font-size: 1rem;
	margin-top: 0.625rem;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 18.75rem;
	height: 4.688rem;
	font-size: 1rem;
	margin-top: 0.625rem;
}

#sub-boto{
	width: 8.75rem;
	height: 4.688 rem;
	font-size: 1rem;
	margin: auto;
}



button.menu-object{
	background-color: white;
	border-style: grove;
	border-color: grey;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1.125rem;
	width: 17.188rem;
	height: 4.375rem;
	background-color: white;
}

button.menu-object:hover:not(:active){
	font-size: 1.375rem;
	width: 20.313rem;
	height: 5.313rem;
	background-color: white;
	border-width: 0.313rem;
}

